<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lankun.hspd.server.application.dao.ApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lankun.hspd.server.application.domain.ApplicationEntity">
        <id column="id" property="id" />
        <result column="application_no" property="applicationNo" />
        <result column="medical_union_id" property="medicalUnionId" />
        <result column="dept_id" property="deptId" />
        <result column="applicant_id" property="applicantId" />
        <result column="application_time" property="applicationTime" />
        <result column="status" property="status" />
        <result column="application_reason" property="applicationReason" />
        <result column="created_at" property="createdAt" />
        <result column="type" property="type" />
        <result column="item_id" property="itemId" />
        <result column="item_name" property="itemName" />
        <result column="urgency_level" property="urgencyLevel" />
        <result column="specification" property="specification" />
        <result column="application_quantity" property="applicationQuantity" />
    </resultMap>

</mapper>
