<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lankun.hspd.server.inventory.dao.InventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lankun.hspd.server.inventory.domain.InventoryEntity">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="item_type" property="itemType" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="batch_no" property="batchNo" />
        <result column="unit" property="unit" />
        <result column="production_date" property="productionDate" />
        <result column="expire_date" property="expireDate" />
        <result column="stock_qty" property="stockQty" />
        <result column="locked_qty" property="lockedQty" />
        <result column="last_in_date" property="lastInDate" />
        <result column="last_out_date" property="lastOutDate" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
